@model IEnumerable<Ecommerce_website.Models.product>

@{
    ViewData["Title"] = "Product Table";
}

<h1 class="text-center my-4">Product Table</h1>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}



<!-- Wrapper for scrollable table -->
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover shadow-sm rounded">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">Product Name</th>
                <th class="text-center">Price</th>
                <th class="text-center">Description</th>
                <th class="text-center">Image</th>
                <th class="text-center">Quantity</th>
                <th class="text-center">Category</th>
                <th class="text-center">Edit</th>
                <th class="text-center">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.product_name)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.product_price)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.product_description)
                    </td>
                    <td class="text-center">
                        <img src="~/Images/@item.product_image" asp-append-version="true" width="100px" height="70px" alt="Product Image" />
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.product_quantity)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Catogery.cat_name)
                    </td>
                    <td class="text-center">
                        <a asp-action="product_edit" asp-route-id="@item.product_id" class="btn btn-info btn-sm">Edit</a>
                    </td>
                    <td class="text-center">
                        <a asp-action="product_delete" asp-route-id="@item.product_id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
